body {
    background: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    margin: 0 auto;
}

.container {
    width: 1280px;
    margin: 0 auto;  
}

.heder_menu{
    display: flex;
    flex-direction: column;
    margin-top: 63px;
}

.menu_titel {
    font-size: 80px;
    line-height: 94px;
    margin-bottom: 40px;
}

.menu_link {
    color: #4BCAFF;
}

.titel_text {
    color: #000000;
}

.menu_row {
    max-width: 1280px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #35444F;
}

.row_item {

    color: #FFFFFF;
    font-size: 24px;
    line-height: 28px;
    border-left: 1px solid #FFFFFF;
    padding: 24px 40px 18px 40px;
}
.row_item_link{
    color: #FFFFFF;
}
.border {
    border-right: 1px solid #FFFFFF;
}

.hover:hover {
    background: #222F3A;
    cursor: pointer;
}


.main_content{
    display: flex;
    margin-top: 48px;
    justify-content: space-between;
}

.main_sidebar {
    max-width: 344px;
    max-height: 399px;
    display: flex;
    flex: 1 0 auto;
}

.sidebar_list{

    max-width: 344px;
    max-height: 399px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

.sidebar_item_link{
    font-size: 27px;
    line-height: 27px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 26px 78px 26px 44px;
    color: #495863;
}
.sidebar_item_link:hover{
    color: #000000;
background:
    #DBDBDB;
display: flex;
align-items: center;
cursor: pointer;

}



.main_info {
    max-width: 885px;
}

.main_picture {
    max-width: 885px;
    max-height: 529px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 37px;
}

.picture_img {
    max-width: 320px;
    max-height: 381px;
    margin: 75px 268px 73px 297px;
    -webkit-transform: scale(1, 1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 550ms;
    -moz-transform: scale(1, 1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 550ms;

}

.picture_img:hover {

    -webkit-transform: scale(1.2, 1.2);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 550ms;
    -moz-transform: scale(1.2, 1.2);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 550ms;
    cursor: pointer;
}

.main_text {
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    padding-bottom: 34px;

}
.footer{
    padding-bottom: 30px;
}

.footer_menu {
    background: rgba(99, 105, 110, 0.48);
    margin-top: 23px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px 20px 40px;
}

.footer_row {
    max-width: 875px;
    max-height: 28px;
    display: flex;
    flex-direction: row;
    flex: 1 0 auto;
    justify-content: space-between;
    align-items: center;
   

}


.row_text_link {
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
}

   
.row_text_link_text{
    font-size: 24px;
    line-height: 24px;
    color: #010101;  

}
.footer_hover_a:hover{
    text-decoration: underline;
    color: #3181A6;
    cursor: pointer;
}
